<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
    <h1>Welcome to Fruits App</h1>
    <nav>
        <a href="/fruits">Check Fruits</a><br/>
        <a href="/users/signup">Sign Up</a>
        <a href="/users/login">Log In</a>
    </nav>
    <ul>
        <% for (let i=0; i<users.length; i++) {%>
        <li>
            <a href="/users/<%=users[i].id%>"><%= users[i].name %></a>
        </li>
        <% } %>
    </ul>
</body>