<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title></title>
    <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
    <h1>Welcome to Fruits App TEST</h1>
    <nav>
        <a href="/fruits">Check Fruits</a><br/><br/>
        <a href="/auth/signup">Sign Up</a>
        <a href="/auth/login">Log In</a>
    </nav>
</body>